<div class="container">
    <form action="/home/club_make" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputEmail1">동아리명</label>
        <input name="club_name" type="text" class="form-control" id="exampleInputEmail1" placeholder="동아리명">
      </div>
      
      <label for="exampleInputEmail1">동아리설명</label>      
      <textarea name="club_about" class="form-control" rows="5" id="comment"></textarea>

      <div class="form-group">      
          <label for="exampleInputEmail1">카테고리</label>
            <select name="club_category">
              <option value="예술">예술</option>
              <option value="학술">학술</option>
              <option value="봉사">봉사</option>
              <option value="기타">기타</option>
            </select>      
      </div>
      
      <div class="form-group">
        <label for="exampleInputFile">동아리 프로필사진</label>
        <input type="file" id="club_profile">
      </div> 
      
      <div class="form-group">
        <label for="exampleInputFile">동아리 커버 사진</label>
        <input type="file" id="club_cover">
      </div>
      
      <button type="submit" class="btn btn-default">Submit</button>
</form>    
</div>