<div class="container">
    <div class="row">
        
        <a href="/home/index">[돌아가기]</a><br>
        <h1>동아리 리스트</h1>
        
        <% @club.each do |x| %>
        
            <p><a href="/home/club_detail/<%= x.id %>"><%= x.name %></a></p>

        <% end %>
    </div>
</div>