<div class="container">
    <a href="/home/index">[돌아가기]</a>
    <h1>내가 가입한 동아리 리스트</h1>
    <% @c.each do |m| %>
        <% club = Club.where(id:m.club_id).first %>
        <p><a href="/home/club_detail/<%= club.id %>"><%= club.name %></a></p>
    <% end %>
</div>