<div class="container">
    <a href="/home/index">[돌아가기]</a>
    <% k = @detail %>
    <div class="well">
        <p>동아리명: <%= k.name %></p>
        <p>설명 : <%= k.about %></p>
        <p>프로필사진 : <%= k.profile_pic %></p>
        <p>커버사진 : <%= k.cover_pic %></p>
        <a href="/home/festival_all/<%= k.id %>">행사등록</a><br>
        <a href="/home/recruit_all/<%= k.id %>">부원모집등록</a><br>
        <hr>
        <a href="/home/club_join/<%=k.id %>">[가입하기]</a>
        <a href="/home/club_destory/<%= k.id %>">[삭제]</a>
        <hr>
        
        <p>
            
            회원들 :
            <% k.users.each do |z| %>
            <%= z.name %>
            <% end %>
        </p>
    </div>
</div>