<div class="container">
    <a href="/home/club_show">[동아리 리스트로 돌아가기]</a>
    <hr>
    <h1>행사 리스트/만들기</h1>
    <hr>
    
    <%= form_tag({action: :"/home/festival_make"}, multipart: true) do %>
      <%= file_field_tag 'picture' %>
    <% end %>
    
    <form action="/home/festival_make" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputEmail1">행사명</label>
        <input name="festival_name" type="text" class="form-control" id="exampleInputEmail1" placeholder="동아리명">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">행사시간</label>
        <input name="festival_date" type="text" class="form-control" id="exampleInputEmail1" placeholder="동아리명">
      </div>
      
      <label for="exampleInputEmail1">행사설명</label>      
      <textarea name="festival_about" class="form-control" rows="5" id="comment"></textarea>

      
      <div class="form-group">
        <label for="exampleInputFile">행사사진</label>
        <input name="festival_pic" type="file" id="club_profile">
      </div> 
      
        <input name="club_id" type="hidden" value="<%= @k %>">

      <button type="submit" class="btn btn-default">Submit</button>
    </form>    
    <hr>
    
    
        <% @f.festivals.each do |p| %>
            <div class="well">
                행사명 : <%= p.name %><br>
                행사시간 : <%= p.date %><br>
                행사설명 : <%= p.about %><br>
                행사사진 : <%= p.festival_pic %><br>
            </div>
        <% end %>

    
</div>