<a href="/users/sign_out">[로그아웃]</a>
<p>현재 유저: <%= current_user.name %></p>
<h1><a href="/home/club_show">전체 동아리 리스트 보기</a></h1>
<h1><a href="/home/club_make_view">동아리 만들기</a></h1>
<a href="/home/club_my">내가 가입한 동아리 리스트 보기</a>