<div class="container">
    <a href="/home/club_show">[동아리 리스트로 돌아가기]</a>
    <hr>
    <h1>부원모집 리스트/만들기</h1>
    <hr>
    <form action="/home/recruit_make" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputEmail1">모집제목</label>
        <input name="recruit_name" type="text" class="form-control" id="exampleInputEmail1" placeholder="동아리명">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">모집기간</label>
        <input name="recruit_date" type="text" class="form-control" id="exampleInputEmail1" placeholder="동아리명">
      </div>
      
      <label for="exampleInputEmail1">모집설명</label>      
      <textarea name="recruit_about" class="form-control" rows="5" id="comment"></textarea>

      
      <div class="form-group">
        <label for="exampleInputFile">모집사진</label>
        <input name="recruit_pic" type="file" id="club_profile">
      </div> 
      
        <input name="club_id" type="hidden" value="<%= @k %>">

      <button type="submit" class="btn btn-default">Submit</button>
    </form>    
    <hr>
    
        <% @f.recruits.each do |p| %>
            <div class="well">
                모집명 : <%= p.name %><br>
                모집기간 : <%= p.date %><br>
                모집설명 : <%= p.about %><br>
                모집사진 : <%= p.recruit_pic %><br>
            </div>
        <% end %>
    
</div>